/* Extracted from jfkairport.com 2026-05-03 */

@font-face{font-family:panynj-icons;src:url(/fonts/panynj-icons.woff2) format("woff2"),url(/fonts/panynj-icons.woff) format("woff");font-weight:400;font-style:normal;font-display:swap}


.icon-close{font-size:var(--chakra-font-sizes-icon\.xs)}
.icon-close{font-size:var(--chakra-font-sizes-icon\.sm)}
.icon-close{right:0}
.icon-arrow-down:before{content:""}
.icon-arrow-left-down:before{content:""}
.icon-arrow-left-up:before{content:""}
.icon-arrow-left:before{content:""}
.icon-arrow-right-down:before{content:""}
.icon-arrow-right-up:before{content:""}
.icon-arrow-right:before{content:""}
.icon-arrow-up:before{content:""}
.icon-caret-left:before{content:""}
.icon-caret-right:before{content:""}
.icon-caret-up:before{content:""}
.icon-carte-down:before{content:""}
.icon-chevron-down:before{content:""}
.icon-chevron-left:before{content:""}
.icon-chevron-right:before{content:""}
.icon-chevron-up:before{content:""}
.icon-resize-collapse:before{content:""}
.icon-resize-expand:before{content:""}
.icon-agricultural-inspection:before{content:""}
.icon-arrivals:before{content:""}
.icon-baggage-drop:before{content:""}
.icon-baggage-inspection:before{content:""}
.icon-baggage-repack:before{content:""}
.icon-baggage-services:before{content:""}
.icon-baggage:before{content:""}
.icon-check-in:before{content:""}
.icon-departures:before{content:""}
.icon-directory:before{content:""}
.icon-golf-bag:before{content:""}
.icon-icon-baggage-carts:before{content:""}
.icon-meeting-point:before{content:""}
.icon-oversize-baggage:before{content:""}
.icon-passport-control:before{content:""}
.icon-pet-check-in:before{content:""}
.icon-porter-service:before{content:""}
.icon-security-checkpoint:before{content:""}
.icon-self-check-in:before{content:""}
.icon-shuttle-airside:before{content:""}
.icon-terminal-a:before{content:""}
.icon-terminal:before{content:""}
.icon-terminals-b:before{content:""}
.icon-terminals-c:before{content:""}
.icon-terminals-d:before{content:""}
.icon-terminals-e:before{content:""}
.icon-baggage-re-check:before{content:""}
.icon-connecting-flights:before{content:""}
.icon-airtrain:before{content:""}
.icon-bicycle-parking:before{content:""}
.icon-bus-and-taxi:before{content:""}
.icon-buses:before{content:""}
.icon-crosswalk:before{content:""}
.icon-ev-charging-parking:before{content:""}
.icon-exit:before{content:""}
.icon-ground-transportation:before{content:""}
.icon-ny-transit-to-city:before{content:""}
.icon-parking:before{content:""}
.icon-passenger:before{content:""}
.icon-rental-car:before{content:""}
.icon-ride-app-pick-up:before{content:""}
.icon-shuttle:before{content:""}
.icon-subway:before{content:""}
.icon-taxis:before{content:""}
.icon-trains:before{content:""}
.icon-defibrillator:before{content:""}
.icon-exit-only:before{content:""}
.icon-fire-extinguisher:before{content:""}
.icon-fire-hose:before{content:""}
.icon-first-aid:before{content:""}
.icon-in-case-of-fire-use-stairs:before{content:""}
.icon-no-baggage-claim:before{content:""}
.icon-no-carts:before{content:""}
.icon-no-entry:before{content:""}
.icon-no-pets:before{content:""}
.icon-no-phones:before{content:""}
.icon-no-photos:before{content:""}
.icon-no-smoking:before{content:""}
.icon-panynj-circle:before{content:""}
.icon-panynj-no-circle:before{content:""}
.icon-sparkles:before{content:""}
.icon-flight-sparkles:before{content:""}
.icon-accessible-changing-place-with-hoist:before{content:""}
.icon-accessible-changing-place:before{content:""}
.icon-accessible-isa:before{content:""}
.icon-accessible:before{content:""}
.icon-assistive-listening-systems:before{content:""}
.icon-atm:before{content:""}
.icon-auditorium:before{content:""}
.icon-baby-changing-area:before{content:""}
.icon-baggage-storage:before{content:""}
.icon-bars-and-restaurants:before{content:""}
.icon-bars:before{content:""}
.icon-business-center:before{content:""}
.icon-cafe:before{content:""}
.icon-car-outline:before{content:""}
.icon-car-solid:before{content:""}
.icon-cashier:before{content:""}
.icon-chapel:before{content:""}
.icon-charging-point:before{content:""}
.icon-currency-exchange:before{content:""}
.icon-dentist:before{content:""}
.icon-drinking-water:before{content:""}
.icon-duty-free:before{content:""}
.icon-elevator:before{content:""}
.icon-escalator:before{content:""}
.icon-help-phone:before{content:""}
.icon-hotel:before{content:""}
.icon-information:before{content:""}
.icon-lost-and-found:before{content:""}
.icon-lounge:before{content:""}
.icon-low-vision:before{content:""}
.icon-medical-office:before{content:""}
.icon-meditation-room:before{content:""}
.icon-men:before{content:""}
.icon-mosque:before{content:""}
.icon-moving-walkway:before{content:""}
.icon-nursing-room:before{content:""}
.icon-office:before{content:""}
.icon-pet-relief-area:before{content:""}
.icon-play-area:before{content:""}
.icon-post-office:before{content:""}
.icon-prayer-room:before{content:""}
.icon-quiet-room:before{content:""}
.icon-reduced-mobility:before{content:""}
.icon-restaurants:before{content:""}
.icon-restrooms:before{content:""}
.icon-sensory-room:before{content:""}
.icon-shoe-shine:before{content:""}
.icon-shops-and-restaurants:before{content:""}
.icon-shops:before{content:""}
.icon-smoking-area:before{content:""}
.icon-stairs:before{content:""}
.icon-synagogue:before{content:""}
.icon-telephones:before{content:""}
.icon-terminals:before{content:""}
.icon-terrace:before{content:""}
.icon-waiting-area:before{content:""}
.icon-wifi:before{content:""}
.icon-women:before{content:""}
.icon-alert:before{content:""}
.icon-apps:before{content:""}
.icon-attach:before{content:""}
.icon-bag-add:before{content:""}
.icon-bag-check:before{content:""}
.icon-bag-handle:before{content:""}
.icon-bag-remove:before{content:""}
.icon-bag:before{content:""}
.icon-barcode:before{content:""}
.icon-battery-charging:before{content:""}
.icon-battery-dead:before{content:""}
.icon-battery-full:before{content:""}
.icon-battery-half:before{content:""}
.icon-bicycle:before{content:""}
.icon-book:before{content:""}
.icon-bookmark:before{content:""}
.icon-bookmark-outline:before{content:""}
.icon-bookmarks:before{content:""}
.icon-briefcase:before{content:""}
.icon-brush:before{content:""}
.icon-build:before{content:""}
.icon-bulb:before{content:""}
.icon-calendar-clear:before{content:""}
.icon-calendar-number:before{content:""}
.icon-calendar:before{content:""}
.icon-call:before{content:""}
.icon-cart:before{content:""}
.icon-cellular:before{content:""}
.icon-checkmark-done:before{content:""}
.icon-checkmark:before{content:""}
.icon-clipboard:before{content:""}
.icon-close:before{content:""}
.icon-cloud-done:before{content:""}
.icon-cloud-download:before{content:""}
.icon-cloud-offline:before{content:""}
.icon-cloud-upload:before{content:""}
.icon-cloud:before{content:""}
.icon-color-palette:before{content:""}
.icon-color-wand:before{content:""}
.icon-construct:before{content:""}
.icon-contrast:before{content:""}
.icon-copy:before{content:""}
.icon-create:before{content:""}
.icon-desktop:before{content:""}
.icon-document-attach:before{content:""}
.icon-document-lock:before{content:""}
.icon-document-text:before{content:""}
.icon-document:before{content:""}
.icon-documents:before{content:""}
.icon-download:before{content:""}
.icon-duplicate:before{content:""}
.icon-ear:before{content:""}
.icon-earth:before{content:""}
.icon-easel:before{content:""}
.icon-ellipsis-horizontal:before{content:""}
.icon-ellipsis-vertical:before{content:""}
.icon-enter:before{content:""}
.icon-extension-puzzle:before{content:""}
.icon-eye-off:before{content:""}
.icon-eye:before{content:""}
.icon-fast-food:before{content:""}
.icon-file-tray-full:before{content:""}
.icon-file-tray-stacked:before{content:""}
.icon-file-tray:before{content:""}
.icon-filter:before{content:""}
.icon-finger-print:before{content:""}
.icon-fitness:before{content:""}
.icon-flag:before{content:""}
.icon-flash-off:before{content:""}
.icon-flash:before{content:""}
.icon-folder-open:before{content:""}
.icon-folder:before{content:""}
.icon-footsteps:before{content:""}
.icon-funnel:before{content:""}
.icon-game-controller:before{content:""}
.icon-gift:before{content:""}
.icon-git-branch:before{content:""}
.icon-git-commit:before{content:""}
.icon-git-compare:before{content:""}
.icon-git-merge:before{content:""}
.icon-git-network:before{content:""}
.icon-git-pull-request:before{content:""}
.icon-glasses-outline:before{content:""}
.icon-globe:before{content:""}
.icon-grid:before{content:""}
.icon-hammer:before{content:""}
.icon-hand-left:before{content:""}
.icon-hand-right:before{content:""}
.icon-happy:before{content:""}
.icon-headset:before{content:""}
.icon-heart-dislike:before{content:""}
.icon-heart-half:before{content:""}
.icon-heart:before{content:""}
.icon-help-buoy:before{content:""}
.icon-home:before{content:""}
.icon-hourglass:before{content:""}
.icon-ice-cream:before{content:""}
.icon-id-card:before{content:""}
.icon-image:before{content:""}
.icon-images:before{content:""}
.icon-invert-mode:before{content:""}
.icon-journal:before{content:""}
.icon-key:before{content:""}
.icon-keypad:before{content:""}
.icon-language:before{content:""}
.icon-laptop-outline:before{content:""}
.icon-library:before{content:""}
.icon-link:before{content:""}
.icon-link-external:before{content:""}
.icon-list:before{content:""}
.icon-locate:before{content:""}
.icon-location:before{content:""}
.icon-log-in:before{content:""}
.icon-log-out:before{content:""}
.icon-logo-closed-captioning:before{content:""}
.icon-logo-no-smoking:before{content:""}
.icon-logo-rss:before{content:""}
.icon-logo-youtube:before{content:""}
.icon-magnet:before{content:""}
.icon-mail-open:before{content:""}
.icon-mail-unread:before{content:""}
.icon-map:before{content:""}
.icon-megaphone:before{content:""}
.icon-menu:before{content:""}
.icon-mic-off:before{content:""}
.icon-mic:before{content:""}
.icon-navigate:before{content:""}
.icon-newspaper:before{content:""}
.icon-notifications-off:before{content:""}
.icon-notifications:before{content:""}
.icon-nuclear:before{content:""}
.icon-nutrition:before{content:""}
.icon-open:before{content:""}
.icon-options:before{content:""}
.icon-paper-plane:before{content:""}
.icon-paw:before{content:""}
.icon-pencil:before{content:""}
.icon-people:before{content:""}
.icon-person:before{content:""}
.icon-pint:before{content:""}
.icon-pizza:before{content:""}
.icon-podium:before{content:""}
.icon-power:before{content:""}
.icon-pricetag:before{content:""}
.icon-pricetags:before{content:""}
.icon-print:before{content:""}
.icon-push:before{content:""}
.icon-qr-code:before{content:""}
.icon-reader:before{content:""}
.icon-receipt:before{content:""}
.icon-refresh:before{content:""}
.icon-reload:before{content:""}
.icon-ribbon:before{content:""}
.icon-sad:before{content:""}
.icon-save:before{content:""}
.icon-search:before{content:""}
.icon-send:before{content:""}
.icon-server:before{content:""}
.icon-settings:before{content:""}
.icon-shapes:before{content:""}
.icon-share-social:before{content:""}
.icon-share:before{content:""}
.icon-shield-checkmark:before{content:""}
.icon-shield-half:before{content:""}
.icon-shield:before{content:""}
.icon-shirt:before{content:""}
.icon-speedometer:before{content:""}
.icon-star-half:before{content:""}
.icon-star:before{content:""}
.icon-stats-chart:before{content:""}
.icon-stopwatch:before{content:""}
.icon-storefront:before{content:""}
.icon-ticket:before{content:""}
.icon-time:before{content:""}
.icon-timer:before{content:""}
.icon-today:before{content:""}
.icon-toggle:before{content:""}
.icon-trail-sign:before{content:""}
.icon-trash:before{content:""}
.icon-trophy:before{content:""}
.icon-tv:before{content:""}
.icon-unlink:before{content:""}
.icon-volume-high:before{content:""}
.icon-volume-low:before{content:""}
.icon-volume-medium:before{content:""}
.icon-volume-mute:before{content:""}
.icon-volume-off:before{content:""}
.icon-wallet:before{content:""}
.icon-warning:before{content:""}
.icon-watch:before{content:""}
.icon-water:before{content:""}
.icon-wine:before{content:""}
.icon-cloudy-night:before{content:""}
.icon-cloudy:before{content:""}
.icon-leaf:before{content:""}
.icon-moon:before{content:""}
.icon-partly-sunny:before{content:""}
.icon-rainy:before{content:""}
.icon-snow:before{content:""}
.icon-sunny:before{content:""}
.icon-thermometer-outline:before{content:""}
.icon-thunderstorm:before{content:""}
.icon-umbrella:before{content:""}
.icon-logo-facebook:before{content:""}
.icon-logo-flickr:before{content:""}
.icon-logo-foursquare:before{content:""}
.icon-logo-github:before{content:""}
.icon-logo-instagram:before{content:""}
.icon-logo-linkedin:before{content:""}
.icon-logo-twitter:before{content:""}
.icon-logo-x:before{content:""}
.icon-logo-whatsapp:before{content:""}
.icon-thumbs-down-outline:before{content:""}
.icon-thumbs-down-solid:before{content:""}
.icon-thumbs-up-outline:before{content:""}
.icon-thumbs-up-solid:before{content:""}
.icon-chatbubble-ellipses:before{content:""}
.icon-chatbubble:before{content:""}
.icon-chatbubbles:before{content:""}
.icon-gender-all:before{content:""}
.icon-gender-female:before{content:""}
.icon-gender-male:before{content:""}
.icon-gender-trans:before{content:""}
.icon-card:before{content:""}
.icon-cash:before{content:""}
.icon-logo-euro:before{content:""}
.icon-logo-usd:before{content:""}
.icon-logo-yen:before{content:""}
.icon-add-circle:before{content:""}
.icon-alert-circle:before{content:""}
.icon-arrow-circle-down:before{content:""}
.icon-arrow-circle-left:before{content:""}
.icon-arrow-circle-right:before{content:""}
.icon-arrow-circle-up:before{content:""}
.icon-at-circle:before{content:""}
.icon-caret-circle-down:before{content:""}
.icon-caret-circle-left:before{content:""}
.icon-caret-circle-right:before{content:""}
.icon-caret-circle-up:before{content:""}
.icon-checkmark-circle:before{content:""}
.icon-checkmark-done-circle:before{content:""}
.icon-chevron-circle-down:before{content:""}
.icon-chevron-circle-left:before{content:""}
.icon-chevron-circle-right:before{content:""}
.icon-chevron-circle-up:before{content:""}
.icon-close-circle:before{content:""}
.icon-cloud-circle:before{content:""}
.icon-compass:before{content:""}
.icon-ellipsis-horizontal-circle:before{content:""}
.icon-ellipsis-vertical-circle:before{content:""}
.icon-filter-circle:before{content:""}
.icon-heart-circle:before{content:""}
.icon-heart-dislike-circle:before{content:""}
.icon-information-circle:before{content:""}
.icon-list-circle:before{content:""}
.icon-mic-circle:before{content:""}
.icon-mic-off-circle:before{content:""}
.icon-navigate-circle:before{content:""}
.icon-notifications-circle:before{content:""}
.icon-notifications-off-circle:before{content:""}
.icon-people-circle:before{content:""}
.icon-person-circle:before{content:""}
.icon-refresh-circle:before{content:""}
.icon-reload-circle:before{content:""}
.icon-remove-circle:before{content:""}
.icon-search-circle:before{content:""}
.icon-sync-circle:before{content:""}
.icon-mta-line-a:before{content:"";color:#0039a6}
.icon-mta-line-b:before{content:"";color:#ff6319}
.icon-mta-line-c:before{content:"";color:#0039a6}
.icon-mta-line-d:before{content:"";color:#ff6319}
.icon-mta-line-e:before{content:"";color:#0039a6}
.icon-mta-line-f:before{content:"";color:#ff6319}
.icon-mta-line-g:before{content:"";color:#6cbe45}
.icon-mta-line-j:before{content:"";color:#963}
.icon-mta-line-l:before{content:"";color:#a7a9ac}
.icon-mta-line-m:before{content:"";color:#ff6319}
.icon-mta-line-n:before{content:"";color:#fccc0a}
.icon-mta-line-q:before{content:"";color:#fccc0a}
.icon-mta-line-r:before{content:"";color:#fccc0a}
.icon-mta-line-s:before{content:"";color:#808183}
.icon-mta-line-w:before{content:"";color:#fccc0a}
.icon-mta-line-z:before{content:"";color:#963}
